<ion-view view-title="Add Movie List">
    <ion-content>
        <h1 class="title" style="width:50%;margin:0 auto;">Add Movie List</h1>

        <form method="get" action="includes/movielist.php" name="form1">
            <div class="list" id="Movieadd" style="width:50%; margin:0 auto;margin-top:20px;">
                <label class="item item-input item-floating-label">
                    <span class="input-label" >Movie Name</span>
                    <input type="text" placeholder="Movie List Name" name="title">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="Description" name="desc">
                </label>
                <label style="width:100%">
                    <button name="sub" type="submit" class="button button-positive" style="margin-bottom:30px;width:100%">Add Movilist</button>
                </label>

            </div>
        </form>


        <!--<div class="list">

        <div class="item item-button-right">
        Call Ma
        <button class="button button-positive">
        <i class="icon ion-ios-telephone"></i>
    </button>
</div>
</div>-->
</ion-content>
</ion-view>
