<ion-view view-title="Home">
    <ion-content >
        <h1>HOME PAGE</h1>
        <ion-list>
            <div class="list card">

                <div class="item item-avatar">
                    <img src="batman.jpg">
                    <h2>SHARE YOUR FAV MOVIES WITH WORLD!!</h2>

                </div>

                <div class="item item-body">
                    <img class="full-image" src="batman.jpg">
                    <p>he most difficult thing about all this is accepting the hard fact that Batman v Superman: Dawn of Justice simply isn’t a good movie. But once that hurdle has been crossed, it’s as if the floodgates have opened. Suddenly, nothing is sacred. All my hopes and dreams were destroyed an hour ago in a giant CG fireball and it left me angrier than a recently orphaned Bruce Wayne.
Batman v Superman is not so much a superhero movie as it is a story about two mamma’s boys measuring the length of their capes, finding that they disagree, and proceeding to poke each other with threats of ‘you wanna go first?’ for a solid two-and-a-half hours.
Don’t get me wrong: The film has its moments, but there comes a point when you can’t justify it to yourself any longer. There is only so much grim brooding one movie can accommodate, and Ben Affleck uses that quota up in the very first scene, which, either on purpose or by complete fluke, foreshadows the self-contradictory nature of this movie.

                    </p>
                                    </div>

            </div>

        </ion-list>
    </ion-content>
</ion-view>
