<ion-view view-title="Browse">
  <ion-content>
    <h1 class="title">Movies</h1>
    <button class="button button-positive">
        AddMovies
    </button>
    <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Moive Name</span>
    <input type="text" placeholder="Moive Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Description</span>
    <input type="text" placeholder="Description">
  </label>
 </div>
  </ion-content>
</ion-view>
